body {
  background-color: rgba(52, 70, 57, 0.4);
  background-color: skyblue;
}
header {
  text-align: center;
  margin: 2rem auto;
  width: 50%;
}
header p {
  font-size: 24px;
}
#board {
  border-collapse: collapse;
  width: 30%;
  margin: 5rem auto;
  border: 2px solid red;
}
#board td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: aliceblue;
}
form {
  width: 60%;
  margin: 2rem auto;
  text-align: center;
}
form input,
form label {
  font-size: 20px;
  padding: 4px;
}
form button {
  font-size: 20px;
  padding: 5px 10px;
}
#msg,
#score {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
#msg p {
  font-size: 24px;
  background-color: white;
  padding: 10px 20px;
}
