<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boogle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')
    }}"
    />
  </head>
  <body>
    <header>
      <h1>Boogle Game</h1>
      <p>You have 60 seconds to play. Have fun!</p>
    </header>
    <form method="GET">
      <label> Type a word:</label>
      <input type="text" name="word" />
      <button>Search</button>
    </form>
    <table id="board">
      <tbody>
        {% for row in board %}
        <tr>
          {% for i in row %}
          <td>{{ i }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="msg">
      <p>High schore is {{highscore}}.</p>
    </div>
    <div id="score">
      <h2>Your score: 0</h2>
    </div>
    <div id="words"></div>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="{{ url_for('static', filename='board.js')}}"></script>
  </body>
</html>
